<div class="form-new mt-2">
<h1>Create a New Category</h1>
<%= simple_form_for @category do |f| %>
    <%= f.input :name, label: "Category Name" %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Create Category" %>
  </div>
<% end %>
